@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #b9b9b9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #375770;
    padding: 40px 10px 30px;
    border-radius: 10px;

}

form {
    position: relative;
}

form p {
    position: absolute;
    top: -27px;
    left: 8px;
    color: #fff;
    letter-spacing: 1px;
}

.display {
    display: flex;
    margin-bottom: 20px;

}

.display input {
    flex: 1;
    padding: 30px;
    border-radius: 5px;
    text-align: right;
}

.calculator input {
    width: 60px;
    height: 60px;
    margin: 6px;
    border: 0;
    outline: 0;
    color: #fff;
    background: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
}

input.equal {
    width: 135px;
}

.display input {
    background: #b6d2c3;
    color: #000;
}

.operator {
    background-color: #ca6e79 !important;
}